## this should be handled by the setup_requires parameter from setuptools if possible
importlib
setuptools>25,<=38
pip>8,<10.1
sphinx<1.5; python_version == '2.6'
babel<2.6; python_version == '2.6' # It's a sphinx dep that gets updated otherwise
sphinx<1.8; python_version >= '2.7'
sphinxcontrib-napoleon
